language: go

go:
  - 1.2
  - 1.3
  - 1.4

install:
  - go get code.google.com/p/go.tools/cmd/vet
  - go get github.com/discoproject/goworker/jobpack
  - go get github.com/discoproject/goworker/worker
  - go get github.com/discoproject/goworker/jobutil

script:
  - go test ./...
  - go vet ./...
